header {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 10px 20px 70px rgba(255, 255, 0, 0.4);
  position: fixed;
  width: 100%;
}

header h1 {
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 100%;
  box-shadow: 10px 20px 70px rgba(255, 255, 0, 0.781);
  color: black;
  height: 120px;
  margin: 30px auto;
  padding-top: 30px;
  width: 150px;
}
