h2 {
  color: white;
}

div div h2 {
  padding-top: 250px;
}

.container-planets {
  align-items: center;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: planetrotation;
  animation-timing-function: ease-in-out;
  color: white;
  display: flex;
  margin-left: 700px;
  margin-top: 100px;
}

.container-planets div {
  margin-left: 200px;
}

.mercurio img {
  width: 25px;
}

.venus img {
  width: 61px;
}

.terra img {
  width: 64px;
}

.marte img {
  width: 34px;
}

.jupiter img {
  width: 715px;
}

.saturno img {
  width: 603px;
}

.urano img {
  width: 205px;
}

.netuno img {
  width: 250px;
}

.container-planets div img {
  cursor: zoom-in;
  transition: ease-in-out 2000ms;
}

.mercurio img:hover {
  transition: ease-in-out 2000ms;
  width: 500px;
}

.venus img:hover {
  transition: ease-in 2000ms;
  width: 500px;
}

.terra img:hover {
  transition: ease-in 2000ms;
  width: 500px;
}

.marte img:hover {
  transition: ease-in 2000ms;
  width: 500px;
}

.urano img:hover {
  transition: ease-in 2000ms;
  width: 500px;
}

.netuno img:hover {
  transition: ease-in 2000ms;
  width: 500px;
}

/* Rotação dos planetas. FONTE: https://stackoverflow.com/a/13309775/18172843 */

@keyframes planetrotation {

  from {
    transform: translate(0);
  }

  to {
    transform: translate(-3300px);
  }
}

.container-planets:hover {
  animation-play-state: paused;
}
