@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap') ;

* {
  font-family: Space Grotesk , sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-attachment: fixed;
  background-color: black;
  background-image: url('./images/background.png');
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
}
